body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: #9fced1;
    font-size: 20px;
}

p {
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
}

.topline {
    margin: 0px;
    width: 100%;
    height: 20px;
    background: linear-gradient(#ff0707, #95201A);
}

.limg {
    margin: 0;
    padding: 10px 0 0 150px;
    float: left;

}

.logoName {
    color: #95201A;
    float: left;
    padding-top: 80px;
    padding-left: 15px;
    font-size: 1.4em;
    font-weight: bold;
}

.search {
    margin: 0;
    padding: 75px 80px 0 0;
    float: right;
}

.navbar {
    margin : 0px;
    width: 100%;
    height: 50px;
    background-color: #1db6ca;
    color: #ffffff;
    margin-top: 125px;
    margin-left : 5px;
    border : 1px solid #2f10e0;
}



.navbar ul {
    padding-left: 70px;
}

.navbar li {
    list-style: none;
    float: left;
    padding: 0px 30px 0px 30px;
    font-size : 20px;
}

.navbar li:hover {
    list-style: none;
    float: left;
    padding: 0px 30px 0px 30px;
    font-size : 20px;
    /* border : 1px solid #ff0707; */
    background-color: #ffffff;
    color : #1db6ca;
}

.fa {
    font-size: 50px;
}