.blub {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border-color: transparent;
    display: inline-block;
}

.light-1 {
    background-color: #ca4646;
}

.lite-1 {
    background-blend-mode: darken;
    background-color: #ff0000;
}

.light-2 {
    background-color: #c0c043;
}

.lite-2 {
    background-color: #ffff00;
}

.light-3 {
    background-color: #c89639;
}

.lite-3 {
    background-color: #ffa500;
}

.light-4 {
    background-color: #4cce4c;
}

.lite-4 {
    background-color: #008000;
}

.light-5 {
    background-color: #5555d9;
}

.lite-5 {
    background-color: #0000ff;
}

.light-6 {
    background-color: #a256d9;
}

.lite-6 {
    background-color: #4b0082;
}

.light-7 {
    background-color: #ee82ee;
}

.lite-7 {
    background-color: #b3b;
}

button {
    width: 150px;
    height: 30px;
    font-weight: 500;
    font-size: 1.2rem;
    background: #adff2f;
    border-color: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

button:hover {
    background: #95dd28;
}