#app>div {
    float: left;
    width: 50%;
}

#users-list {
    font-size: 3rem;
}

ul {
    /* background: cornflowerblue; */
    /* text-align: center; */
    font-size: 2rem;
}

ul:hover {
    cursor: pointer;
}

@media only screen and (max-width: 400px) {
    #users-list {
        width: 50%;
        margin: auto;
    }
}

img {
    margin-left: 35%;
    display: block;
}

span.userName {
    font-size: 5rem;
}