#app {
    width: 50%;
}

#users-list {
    float: left;
    width: 65%;
    font-size: 3rem;

}

ul {
    background: cornflowerblue;
    height: 3rem;
    text-align: center;
    font-size: 2rem;
}

ul:hover {
    cursor: pointer;
}

/* .active {
    border-left: 16px red solid;
} */

@media only screen and (max-width: 400px) {
    #users-list {
        width: 50%;
        margin: auto;
    }
}