#app > div {
    float: left;
    width: 50%;
}
#users-list {
    font-size: 3rem;
}

ul {
    background: cornflowerblue;
    text-align: center;
    font-size: 2rem;
}

ul:hover {
    cursor: pointer;
}

@media only screen and (max-width: 400px) {
    #users-list {
        width: 50%;
        margin: auto;
    }
}

#left-pane{
    margin-left: 5px;
}