body {
    background-color: #f5f5f5;
}

.calculator {
    width: 250px;
    height: 350px;
    margin: 100px;
    margin-left: 500px;
    padding-top: 10px;
    background-color: #70583f;
    box-shadow: 5px 5px 15px 5px #808080;
    border-radius: 10%;
}

.container {
    margin-top: 50px;
    width: 200px;
    height: 234px;
    border: 1px solid #000000;
}

input {
    margin-left: -15px;
    width: 200px;
    height: 40px;
    background-color: #767c86;
    color: #ffffff;
    border: 1px solid #13315e;
    border-radius: 5px;
    text-align: right;
}

.btn {
    border: 1px solid #000;
    color: #000;
    background-color: #486817;
    border-radius: 3px;
}

.btn:hover {
    border: 1px solid #000;
    color: #000;
    background-color: #aaf53b;
    border-radius: 3px;
}

.title {
    margin: 10px 0px 0px 60px;
    color: #c0c0c0;
    font-family: cursive;
    text-align: center;
}

#clear {
    background-color: #6f0f0f;
}

#clear:hover {
    background-color: #fa2222;
}

#clearPrevious {
    background-color: #098181;
}

#clearPrevious:hover {
    background-color: #14f0f0;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #0039e6;
    color : rgb(150, 132, 132);
}

a {
    color : silver;
}

a:hover{
    color: #345e80;
}

header{
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #0064e6;
    color : silver;
    text-align: center;
}