body {
    background-color: #000000;
    color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
}

fieldset {
    border: none;
}

canvas {
    display: block;
    image-rendering: pixelated;
    width: 100vw;
}