:root {
    --block-size: 50px
}

.block-1 {
    position: relative;
    width: var(--block-size);
    height: var(--block-size);
    animation-name: movement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes movement {

    0% {
        background-color: #ff0000;
        left: calc(0% - var(--block-size));
    }

    100% {
        background-color: #0000ff;
        left: calc(100% - var(--block-size));
    }
}