html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root {
    --block-size: 50px
}

.block-1 {
    position: relative;
    width: var(--block-size);
    height: var(--block-size);
    animation-name: movement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes movement {

    0% {
        background-color: #ff0000;
        left: calc(0% - var(--block-size));
    }

    100% {
        background-color: #0000ff;
        left: calc(100% - var(--block-size));
    }
}

label {
    display: inline-block;
    margin: 5px;
    /* height: 50px; */
}

label span {
    display: inline-block;
    width: 150px;
    margin-right: 50px;
    font-size: 1rem;
    font-weight: 500;
    vertical-align: top;
}

label input {
    width: 150px;
}