body {
    animation-name: colorChange;
    animation-duration: 2s;
}

@keyframes colorChange {
    0% {
        background-color: aliceblue;
    }
    25% {
        background-color: blue;
    }
    50% {
        background-color: green;
    }
    75% {
        background-color: yellow;
    }
    100% {
        background-color: red;
    }
}