body {
    background-color: #000;
    color : #fff;
}

h1 {
    margin-bottom: 50px;
}

input {
    width: 60%;
}

.container {
    margin: 2em;
    padding: 2em;
}

.box {
    background-color: #000;
    color: #FFF;
    width: 100%;
    /* line-height: 2px; */
}

.box:hover {
    background-color: #FFF;
    color: #000;
}

.titleName {
    color: #000;
    text-justify: auto;
    font-size: 25px;
    font-weight: bolder;
}

.titleDesc {
    font-size: 16px;
}