.story {
    padding-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #cccccc;
    font-family: 'Catamaran', sans-serif;
}

.story:first-of-type {
    border-top: 0;
    margin-top: 50px;
}

.story:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}

.storyTitle {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.8;
    text-decoration: none;
}

.storyTitle a {
    color: #2e2e2c;
    background-color: #f8dc3d;
    text-decoration: none;
}

.storyMeta {
    font-style: italic;
    margin-left: 10px;
    font-family: 'Baloo+Tamma', sans-serif;
}

.storyMeta span {
    font-weight: bold;
}