body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.banner .main_cover{
    background-image: url('./images/cover.png');
    height: 465px;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
}

.banner .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    height: 62px;
    color: seashell;
    font-size: 45px;
    text-align: center; 
}

.banner span{
    display: block;
    height: 20px;
    background-color: steelblue;
}

.artists_list {
    box-shadow: border-box;
    padding: 10px 10px;
}

.artists_list .artist_item {
    display: block;
    height: 350px;
    background-size: contain !important;
    margin-bottom: 20px;
    position: relative;
}

.artists_list .artist_item div {
    background: #2196F3;
    color:#ffffff;
    position: absolute;
    bottom: 0px;
    padding: 10px;
}

.artists_list h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0px;
}

header h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 33px;
    border-bottom: 1px solid #2196F3;
    color: silver;
}

a{
    text-decoration-line: none;
}

.artist_bio{
    box-sizing: border-box;
    padding: 10px 30px;
}

.artist_bio .avatar span {
    width: 130px;
    height: 130px;
    display: block;
    margin: 0 auto;
    background-size: cover !important;
}

.artist_bio h3{
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin: 10px 0px;
}

.artist_bio .bio_text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 19px;
}

.albums_list{
    margin: 20px;
}

.albums_list::after {
    clear: both;
    display: table;
}

.albums_list > img {
    float: left;
    width: 50%;
}