@import url('https://fonts.googleapis.com/css?family=Orbitron');
body {
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #CAD3C8;
    color: #2C3A47;
}

header {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 2.5em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8), 0 3px 5px rgba(0, 0, 0, 0.3);
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    background-color: #FFFFFF;
    box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.8), 0 3px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.problem {
    float: left;
}

.solution {
    float: right;
}

main {
    display: flex;
    flex-direction: column;
}

.timer {
    display: flex;
    margin: 25px;
    font-family: Orbitron, monospace;
}

.alarm {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px #000;
    margin: 20px;
    padding: 100px;
    letter-spacing: 1em;
}

.alarm .work {
    text-align: center;
    font-size: 2em;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

.alarm .break {
    text-align: center;
    font-size: 2em;
}

.others {
    display: flex;
    margin: 25px;
    background-color: #f5f5f5;
    width: 45rem;
}

.start {
    border-radius: 50%;
    padding: 15px;
    font-size: 1.5em;
    background-color: #ff0000;
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.msg {
    margin: 10px;
    box-shadow: 0 1px 3px #000000;
    text-align: left;
    padding: 10px;
    width: 500px;
}

.controls {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px #000;
    letter-spacing: 0.1em;
    margin: 20px;
    padding: 60px;
    background: #f5f5f5;
}

.controls .time {
    float: left;
    padding-top:25px;
    font-size: 2em;
    margin-right: 50px;
}

.title{
    color: blue;
}

.controls .work,
.controls .break {
    display: flex;
    flex-flow: row;
    margin: 20px;
    text-align: center;
    border: 1px solid;
}

.control{
    display: flex;
    flex-direction: column;
    /* float: right; */
    margin-left: 50px;
}

.increase,
.decrease {
    transform: rotate(-90deg);
    margin: 5px;
}
