body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
}

.title {
    width: 100%;
    height: 245px;
    text-align: center;
    font-size: 4em;
    background-color: #ccc;
    color: #fff;
    padding-top: 15px;
    padding-top: 15px;
}

.welcome {
    background-color: #dbdbdb;
    text-align: center;
    font-size: 100%;
    color: #000000;
    padding: 50px 0 15px 0;
}

p {
    font-size: 0.3em;
    margin: 0px;
}

table {
    border: none;
    padding-left: 40px;
    font-size: 5em;
    color: #d1b4b4;
    margin-top: 25px;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: #242424;
}

.navbar ul {
    padding-left: 70px;
}

.navbar li {
    list-style: none;
    float: left;
    padding: 0 20px 0 20px;
    color: #ffffff;
    font-size: 2em;
    margin-top: 5px;
    text-transform: capitalize;
}

.navbar li:hover {
    list-style: none;
    float: left;
    padding: 0 20px 0 20px;
    color: #ffffff;
    background-color: #0ba7ce;
    font-size: 2em;
    margin-top: 5px;
    text-transform: capitalize;
}