:root {
    --primary-color: #161414;
    --accent-color: #EAECEC;
}

body {
    background-color: var(--primary-color);
}

.progress-bar {
    --progress-bar-color: #383838;
    margin-top: 10%;
    height: 1.5rem;
    animation-name: progress;
    background-color: var(--progress-bar-color);
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 0px 0px 3px var(--accent-color);
}

.bg-red {
    background-color: #c20c0c;
}

.bg-blue {
    background-color: #67daf7;
}

.bg-green {
    background-color: #4fe93b;
}

@keyframes progress {
    0% {
        width: 0%;
    }

    10% {
        width: 10%;
    }

    20% {
        width: 20%;
    }

    30% {
        width: 30%;
    }

    40% {
        width: 40%;
    }

    50% {
        width: 50%;
    }

    60% {
        width: 60%;
    }

    70% {
        width: 70%;
    }

    80% {
        width: 80%;
    }

    90% {
        width: 90%;
    }

    100% {
        width: 100%
    }
}