.App {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.loader {
    margin: auto;
    padding: 100px 250px;
}

@media only screen and (max-width: 600px) {
    .loader {
        margin: auto;
        padding: 100px 50px;
    }
}