:root {
    --primary-background-color: #fafafa;
    --primary-color: #202020;
    --primary-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --primary-font-size: 1.2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    color: var(--primary-color);
    background-color: var(--primary-background-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 30px;
}

@import "./credits.css";
@import "./story.css";
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Baloo+Tamma+2&display=swap');