:root {
    --light: #f5f5f5;
    --dark: #080808;
}

body {
    --theme: var(--dark);
    --shadow: var(--light);
    background-color: var(--theme);
}

.emoji {
    --dimension: 10rem;
    height: var(--dimension);
    width: var(--dimension);
    background-color: #f7c05c;
    border-radius: var(--dimension);
    margin: auto;
    position: relative;
    box-shadow: 0px 0px 10px var(--shadow);
    /* animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
}

@keyframes example {
    0% {
        background-color: #f7c05c;
    }

    50% {
        background-color: #837253;
    }

    100% {
        background-color: #f7c05c;
    }
}

.emoji::before {
    position: absolute;
    content: "";
    display: inline-block;
    background-color: #ff0000;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    top: 50px;
    left: 10px;
}

.emoji::after {
    position: absolute;
    content: "";
    display: inline-block;
    background-color: #ff0000;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    top: 50px;
    left: 100px;
}

.mouth {
    position: absolute;
    top: 80%;
    left: 20%;
    background-color: #080808;
    width: 100px;
    height: 1px;
}