.credits-ribbon {
    top: 0px;
    left: 0px;
    position: fixed;
    background: #1a181888;
    transform: rotate(320deg);
    padding: 10px;
    margin-left: -50px;
    margin-top: 50px;
    width: 265px;
    color: #f0f0f0;
    text-align: center;
}