@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

body {
    background-color: #1e2227;
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

input {
    height: 35px;
    width: 16rem;
    font-size: 1.4em;
    margin: 10px;
    border: 1px solid;
}

button {
    display: block;
}

#app {
    width: 50%;
    margin: 8% auto;
}

@media only screen and (max-width: 400px) {
    #app {
        width: initial;
    }
}

@media only screen and (max-width: 250px) {
    input {
        width: 200px;
    }
}
