body,
header {
    margin: 0px;
    padding: 0px;
    background-color: #f9f9f9;
}

h1 {
    /* position: absolute; */
    top: 0px;
    left: 0px;
    text-align: center;
}

main {
    position: relative;
}

.toolbar {
    margin: 5xp;
    text-align: center;
}

.bold,
.italic,
.underline,
.del {
    padding: 5px;
    padding-left: -5px;
    display: inline-block;
    border: 1px solid;
    background-color: #f0f0f0;
    box-shadow: 1px -1px #000;
    width: 25px;
    cursor: pointer;
}

.bold {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration-line: underline;
}

.del {
    text-decoration-line: line-through;
}

.textcontainer {
    margin: 10px;
}

.type,
.code {
    margin: 25px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}