body {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: cursive;
}

header {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
    top: 0px;
    text-align: center;
    color: #5e9cFF;
    background-color: #555555;
}

footer {
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
    color: #5e9cFF;
    background-color: #555555;
}

.solution {
    float: left;
}

.problem {
    float: right;
}

td {
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -155px;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

.endgame {
    display: none;
    width: 200px;
    height: 10px;
    top: 30%;
    background-color: rgba(250, 133, 60, 0.8);
    position: absolute;
    left: 53%;
    margin-left: -155px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    font-size: 2rem;
    border-radius: 10%;
}