button {
  width: 35px;
  height: 35px;
  font-size: 1.2em;
}

.control-buttons {
  height: 70px;
}

.control-buttons .left-arrow {
  top: 20px;
  left: 0px;
  position: relative;
}

.control-buttons .top-arrow {
  top: 0px;
  left: 20px;
  position: relative;
}

.control-buttons .right-arrow {
  top: 20px;
  left: 20px;
  position: relative;
}

.control-buttons .down-arrow {
}
