.App {
  text-align: center;
}

.latest-movie {
  display: flex;
  flex-direction: column;
  margin: 25px;
  border: 1px solid #f5f5f5;
  box-shadow: 1px 5px 12px #f5f5f5;
}

.title {
  border-bottom: 1px solid red;
  background-color: green;
  font-size: 2rem;
}

.description{
  display: flex;
  flex-direction: row;
}

button {
  height: 2rem;
  width: 5rem;
  border: none;
  border-radius: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #1a8cd3;
  font-weight: 700;
  letter-spacing: 0.5px;
}

button:disabled{
  background-color: #747070;
  color: #f5f5f5;
}