body {
    margin: 0px;
    padding: 0px;
    background-color: silver;
}

h1 {
    background-color: #100f24;
    color: #059d89;
    padding-left: 450px;
}

h2 {
    margin: 0px;
    background-color: #5db469;
    color: #808080;
    padding-left: 500px;
}

h3 {
    position: relative;
    top: 25px;
    padding-left: 450px;
    background-color: #0099ff;
    color: #5f4a4a;
}

ul {
    list-style: none;
}

li {
    margin: 10px;
    padding: 25px;
    float: right;
}

a {
    text-decoration-line: none;
    color: black;
}

fieldset {
    display: inline;
    margin-left: 25px;
}

select {
    margin-bottom: 25px;
}

label {
    display: block;
}

.findFalcone {
    margin: 100px;
    margin-left: 250px;
    padding-left: 300px;
}

.content {
    margin: 100px;
    margin-left: 250px;
}

footer {
    background: #35c0e2;
    color: azure;
    text-align: center;
}