body {
    background-color: #5a6568;
    color: aliceblue;
    font-size: 1.25rem;
}

#drop-zone {
    margin-top: 3rem;
    width: 300px;
    height: 300px;
    border: 10px rgb(251, 23, 23) dotted;
}